* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.thumbnail1 {
    height: 150px;
    width: 200px;
    background-color: black;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}

.thumbnail2 {
    height: 150px;
    width: 200px;
    background-color: aquamarine;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}

.thumbnail3 {
    height: 150px;
    width: 200px;
    background-color: purple;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}

.thumbnail4 {
    height: 150px;
    width: 200px;
    background-color: violet;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}

.thumbnail5 {
    height: 150px;
    width: 200px;
    background-color: green;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}

.thumbnail6 {
    height: 150px;
    width: 200px;
    background-color: yellowgreen;
    position: flex;
    margin: 5px;
    border-radius: 20px;
}
