* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho .title {
    background-color: aqua;
    display: flex;
    width: 100vw;
    height: 38px;
    padding-left: 15px;

}

.cabecalho .subtitle {
    background-color: #00669F;
    display: flex;
    height: 101px;
    width: 100vw;
    align-items: center;
    padding-left: 38px;
    box-shadow: 0px 10px 7px 0px #00000040;
}

.fundo1 {
    position: absolute;
    width: 374px;
    height: 217.81px;
    left: 112px;
    top: 200.11px;
    border-radius: 16px 16px 0px 0px;
}

.batman {
    position: absolute;
    width: 135.43px;
    height: 133.17px;
    left: 231.57px;
    top: 355.57px;
    border-radius: 80px;
}

fundo2 {
    position: absolute;
    width: 374px;
    height: 217.81px;
    left: 112px;
    top: 225.11px;
}

.Harley {
    position: absolute;
    width: 135.43px;
    height: 133.17px;
    left: 1080px;
    top: 350px;
    border-radius: 80px;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    display: flex;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    width: 400px;
}

.card1 p {
    position: relative;
    font-size: 18px;
    text-align: center;
    top: 270px;
    right: 420px;    
    padding: 10px;
}

.card1 h1 {
    position: relative;
    top: 240px;
    font-size: 30px;
    right: 280px;
}

.card2 {
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    width: 400px;
}

.card2 p {
    position: relative;
    font-size: 16px;
    text-align: center;
    top: 150px;
    left: 10px;    
    padding: 10px;

}

.card2 h1 {
    position: relative;
    top: 120px;
    font-size: 30px;
    left: 90px;
}

.bat {
    position: relative;
    width: 900px;
    height: 55px;
    top: 560px;
    right: 560px;
    background-color: #00669F;
    color: #fff;
}

.har {
    position: relative;
    width: 200px;
    height: 65px;
    top: 200px;
    left: 80px;
    background-color: #00669F;
    color: #fff;
}

.footer {
    background-color: #00669F;
    width: 100vw;
    position: fixed;
    top: 912px;
    padding-left: 38px;
}